.images11  {
    width: 70px;
    height: 70px;
    margin-left:20px;
}

.column2  {
    float:left;
    padding:15px;
}
.column2 p{
    padding:5px;
    margin-left: 20px;
    font-family:Roboto;
}
.contact {
    display: flex;
    background-color: #074368;
    border:15px solid #608399;
    background-repeat: no-repeat;
    width:700px;
    height:350px;
    margin-left:100px;
    
}
.contact p {
    color:#fff;
    font-family:Roboto;
    font-size: 12px;

}   
 
  .group {
flex:1;
margin:5px;
}
.contact2 {
flex:3;
margin-left:25px;
}
label {
position: absolute;
color:#e6eaf3;
cursor:text;
transition: .25s ease;
}

input{
    display:block;
    width:50%;
    border:none;
    border-radius: 0;
    color:#074368;
    transition: .3 ease;
}

.bar{
    background: #074368;
    content:'';
    width:50%;
    transition: .3s ease;
}
@media screen and (max-width:600px) {
    .images11  {
        width: 70px;
        height: 70px;
        margin-left:20px;
    }
    
    .column2  {
        float:left;
        padding:15px;
    }
    .column2 p{
        padding:5px;
        margin-left: 20px;
        font-family:Roboto;
    }
    .contact {
        display: flex;
        background-color: #074368;
        border:15px solid #608399;
        background-repeat: no-repeat;
        width:450px;
        height:450px;
        margin-left:50px;
        
    }
    .contact p {
        color:#fff;
        font-family:Roboto;
        font-size: 12px;
    
    }   
     
      .group {
    flex:1;
    margin:5px;
    }
    .contact2 {
    flex:3;
    margin-left:25px;
    }
    label {
    position: absolute;
    color:#e6eaf3;
    cursor:text;
    transition: .25s ease;
    }
    
    input{
        display:block;
        width:50%;
        border:none;
        border-radius: 0;
        color:#074368;
        transition: .3 ease;
    }
    
    .bar{
        background: #074368;
        content:'';
        width:50%;
        transition: .3s ease;
    }
}