.stylefind {
    padding:10px;
    margin: 50px;
    text-align: justify;
}
.stylefind h3 {
    color:#1b505e;
    font:bold;
    font-size: 16px;

}
 .stylefind p  {
 color:#1b505e;
 font-size: 12px;
 font-family: Roboto;

}
.stylefind ul li {
    color:#1b505e;
    font-size: 12px;
font-family: Roboto;
    list-style: none;
    text-decoration: none;
}
.findimg {
    height:70px;
width:100px;
margin-left:300px;
}
.img10{
   width:350px;
   float:right;
   margin-right:-90px;
   height:600px;
   opacity:0.5;

    
}
img .img5 {
    border:50%;

}
@media screen and (max-width:600px) {
    .stylefind {
        padding:10px;
        margin: 50px;
        text-align: justify;
    }
    .stylefind h3 {
        color:#1b505e;
        font:bold;
        font-size: 16px;
    
    }
     .stylefind p  {
     color:#1b505e;
     font-size: 12px;
    
    }
    .stylefind ul li {
        color:#1b505e;
        font-size: 12px;
    
        list-style: none;
        text-decoration: none;
    }
    .findimg {
        height:70px;
    width:100px;
    margin-left:300px;
    }
    .img10{
       width:350px;
       float:right;
       margin-right:-90px;
       height:600px;
       opacity:0.5;
    
        
    }
    img .img5 {
        border:50%;
    
    }
}