

.App{
  font-family:Arial, Helvetica, sans-serif;
  background-color:#074368;
  
}
.App .find {
  background-color: #fff;
}
img {
  width:600px;
  height:350px;
  border:20px solid #fff;
}
.container {
  width: 100px;
  height:100px;
  position: relative;
  align-items: center;
 

  
}
.wrap {
  width:300px;
  height:200px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  
  
}
.box {
  width:160%;
  height:130%;
  position: absolute;
  background-color: #e6eaf3;
  opacity: 0.5;
  align-items: center;
  z-index: 7;
  margin-left:200px;
  
}
.box2  {
  
  width:420px;
  height:200px;
  position: absolute;
  background:  #e6eaf3;
  
  
}
button {

  background-color:#96c9e9;
border:none;
color:#1b505e;
font-weight: bolder;
font-size:16px;
padding:15px;
margin: 60px;

}
 

.top {
  z-index:9;
  margin-left:350px;
  
  
  
  
}
 p {
  color:#1b505e;
  text-transform: uppercase;
  text-align:justify;
  font-family: Roboto;
}
svg {
  margin-left:100px;
}
 .par1 {
  font-weight: bold;
}
 .par2 {
  font-size: 12px;
}
.img2 {
  width:50px;
  height:40px;
  border:none;
  margin-left:20px;
  padding:20px;
  position: absolute;
  top:-10px;
}
@media screen and (max-width:800px) {
  
.App{
  font-family:Arial, Helvetica, sans-serif;
  background-color:#074368;
  width:100%;
  
}
  .img2 {
    width:100px;
    height:50px;
    border:none;
    margin-left:20px;
    top:-10px;
  }
  img {
    width:250px;
    height:200px;
    border:10px solid #fff;
   margin-left: 150px;
   z-index: 1;
  }
  .container {
    width: 150px;
    height:100px;
    position: relative;
    align-items: center;
    
  }
  .top {
    z-index:9;
    margin-left:150px;

    
  }
  .wrap {
    width:100px;
    height:50px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
    
  }
  .box {
    width:200px;
    height:150px;
    position: absolute;
    background-color: #e6eaf3;
    opacity: 0.5;
    align-items: center;
    z-index: 4;
    margin-left:100px;
    
  }
  .box2  {
    
    width:200px;
    height:150px;
    position: absolute;
    background:  #e6eaf3;
  
    
    
  }
  
 p {
  color:#1b505e;
  text-transform: uppercase;
  text-align:justify;
  font-size:12px;
  font-family: Roboto;
}
svg {
  margin-left:100px;
  width:50px;
  height:30px;
  
}
 .par1 {
  font-weight: bold;
}
 .par2 {
  font-size: 12px;
}
button {

  background-color:#96c9e9;
border:none;
color:#1b505e;
font-weight: bolder;
font-size:16px;
padding:15px;
margin-top: 150px;

}

}